<div class="big-bg5">
  <header class="page-header wrapper">
    <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a></h1>
    <nav>
      <ul class="main-nav">
          <li><a href="/posts">TOP</a></li>
          <li><a href="/posts/new">新着情報</a></li>
          <li><a href="/posts/recipe">レシピ紹介</a></li>
          <li><a href="/contacts/new">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <div class="contacts-title">
    入力内容確認
  </div>
<div class="contacts">
  <div class="contacts-name">
    <div class="contacts-name__koumoku">
      名前
    </div>
    <div class="contacts-name__name">
      <%= @contacts.name %>
    </div>
  </div>
  <div class="contacts-tel">
    <div class="contacts-tel__koumoku">
      電話番号
    </div>
    <div class="contacts-tel__name">
      <%= @contacts.tel %>
    </div>
  </div>
  <div class="contacts-mail">
    <div class="contacts-mail__koumoku">
      メールアドレス
    </div>
    <div class="contacts-mail__name">
      <%= @contacts.mail %>
    </div>
  </div>
  <div class="contacts-content">
    <div class="contacts-content__koumoku">
      メッセージ
    </div>
    <div class="contacts-content__name">
      <%= @contacts.content %>
    </div>
  </div>
  <div class="contacts-button-box">
    <div class="contacts-button">
      <%= link_to "送信する", contacts_path, method: :post %>
    </div>
  </div>
</div>







<footer>
  <div class="wrapper2">
    <p><small>family recipe</small></p>
  </div>
</footer>