<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>family recipe</title>
    <meta name="description" content="家事代行サービス">
  </head>
  <body>
    <div class="big-bg4">
      <header class="page-header wrapper">
        <h1><a href="/posts"><img class="logo" src="../assets/familelogo3.jpg" alt="ふぁみれロゴ"></a></h1>
        <nav>
            <ul class="main-nav">
                <li><a href="/posts">TOP</a></li>
                <li><a href="/posts/new">新着情報</a></li>
                <li><a href="/posts/recipe">レシピ紹介</a></li>
                <li><a href="/posts/contact">お問い合わせ</a></li>
            </ul>
        </nav>
      </header>
      <div class="wrapper">
        <h2 class="page-title">お問い合わせ</h2>
        <p>family recipeの本サイトをご覧いただきありがとうございます!!<br>
            "毎日の生活　が家族をつくる　未来をつくる" を理念と掲げ、
            忙しいみなさまのお役立ちができればと考えております。<br>
            詳細はまだまだ掲載できていない部分もありますの是非、一度ご連絡くださいませ。
        </p>
        <%= form_with(model: @contact, local: true) do |form| %>
          <label for="name">お名前</label><div id="name_error"></div>
          <%= form.text_field :name, id: :name, placeholder: "name" %>

          <label for="tel">電話番号</label><div id="tel_error"></div>
          <%= form.text_field :tel, id: :tel, placeholder: "tel" %>

          <label for="mail">メールアドレス</label><div id="mail_error"></div>
          <%= form.text_field :mail, id: :mail, placeholder: "mail" %>

          <label for="message">メッセージ</label><div id="message_error"></div>
          <%= form.text_area :content, id: :message, placeholder: "message" %>
          <div>
            <%= form.submit '送信', class:"button", id: :user_btn %>
          </div>
        <% end %>
      </div>
    </div>
    <section id="location">
        <div class="wrapper">
          <div class="location-info">
            <h3 class="sub-title">Family recipe</h3>
              <p>
                  住所： 福岡県大野城市<br>
                  栄町１丁目2-9<br>
                  アクセスシティ千歳II<br>
                  電話： 03-1111-1111<br>
                  営業時間： 10:00〜20:00<br>
                  休日：水曜
              </p>
            </div><!-- /.location-info -->
              <div class="location-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.4738307751954!2d130.46754461464147!3d33.54106335194288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541909d267218d5%3A0x72dfa5b7ae75e1e1!2z44CSODE2LTA5MjQg56aP5bKh55yM5aSn6YeO5Z-O5biC5qCE55S677yR5LiB55uu77yS4oiS77yZIOOCouOCr-OCu-OCueOCt-ODhuOCo-WNg-ats0lJ!5e0!3m2!1sja!2sjp!4v1579515086048!5m2!1sja!2sjp" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div><!-- /.location-map -->
          </div><!-- /.wrapper -->
    </section>
    <footer>
      <div class="wrapper">
        <p><small>family recipe</small></p>
      </div>
    </footer>
  </body>
</html>