!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title family recipe
    %meta{:content => "家事代行サービス", :name => "description"}/
  %body
    .big-bg4
      %header.page-header.wrapper
        %h1
          %a{:href => "/posts"}
            %img.logo{:alt => "ふぁみれロゴ", :src => "../assets/familelogo3.jpg"}/
        %nav
          %ul.main-nav
            %li
              %a{:href => "/posts"} TOP
            %li
              %a{:href => "/posts/new"} NEW
            %li
              %a{:href => "/posts/recipe"} RECIPE
      .wrapper
        %h2.page-title お問い合わせ
        %p
          family recipeの本サイトをご覧いただきありがとうございます!!
          %br/
          "毎日の生活　が家族をつくる　未来をつくる" を理念と掲げ、
          忙しいみなさまのお役立ちができればと考えております。
          %br/
          詳細はまだまだ掲載できていない部分もありますの是非、一度ご連絡くださいませ。
        = form_with(model: @contact, local: true, url: confirm_contacts_path, method: :get) do |form|
          %label{:for => "name"} お名前
          #name_error
          = form.text_field :name, id: :name, placeholder: "name"
          %label{:for => "tel"} 電話番号
          #tel_error
          = form.text_field :tel, id: :tel, placeholder: "tel"
          %label{:for => "mail"} メールアドレス
          #mail_error
          = form.text_field :mail, id: :mail, placeholder: "mail"
          %label{:for => "message"} メッセージ
          #message_error
          = form.text_area :content, id: :message, placeholder: "message"
          %div
            = form.submit '確認画面へ', class:"button", id: :user_btn
    %section#location
      .wrapper
        .location-info
          %h3.sub-title Family recipe
          %p
            住所： 福岡県大野城市
            %br/
            栄町１丁目2-9
            %br/
            アクセスシティ千歳II
            %br/
            電話： 03-1111-1111
            %br/
            営業時間： 10:00〜20:00
            %br/
            休日：水曜
        / /.location-info
        .location-map
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.4738307751954!2d130.46754461464147!3d33.54106335194288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541909d267218d5%3A0x72dfa5b7ae75e1e1!2z44CSODE2LTA5MjQg56aP5bKh55yM5aSn6YeO5Z-O5biC5qCE55S677yR5LiB55uu77yS4oiS77yZIOOCouOCr-OCu-OCueOCt-ODhuOCo-WNg-ats0lJ!5e0!3m2!1sja!2sjp!4v1579515086048!5m2!1sja!2sjp", :style => "border:0;", :width => "800"}
        / /.location-map
      / /.wrapper
    %footer
      .wrapper
        %p
          %small family recipe
